<div id="login_form">
  <form name="loginForm" novalidate ng-submit="login()">
    <div bl-messages></div>
    <div class="form-group"
      ng-class="{'has-error': loginForm.username.$invalid}">
      <input class="form-control" name="username" type="text"
        placeholder="Username" required ng-model="user.username" autocomplete="off" autofocus/>
        <span class="control-label"
          ng-show="loginForm.username.$error.required" data-i18n="_Required_"></span>
    </div>
    <div class="form-group"
      ng-class="{'has-error': loginForm.password.$invalid}">
      <input class="form-control" name="password" type="password"
        placeholder="Password" required ng-model="user.password" autocomplete="off"/>
        <span class="control-label"
          ng-show="loginForm.password.$error.required" data-i18n="_Required_"></span>
    </div>
    <div class="form-group">
      <button type="submit" class="" ng-disabled="!loginForm.$valid"
        value="Connexion" title="Connexion">
        <span>Connexion</span>
      </button>
    </div>
  </form>
</div>